/* Стили для модального окна */
.modal-box-form-reg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-form-reg {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: relative;
  /* Для абсолютного позиционирования кнопки закрытия */
}

/* Стили для кнопки закрытия */
.close-button-file {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.close-button-file::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.close-button-file::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

/* Анимация при наведении */
.close-button-file:hover {
  color: #007bff;
}

/* Стили для формы */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Стили для полей ввода */
input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Стили для кнопок */
.button-login-form-submit,
.button-login-form-cancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-login-form-submit {
  background-color: #007bff;
  color: white;
}

.button-login-form-submit:hover {
  background-color: #0056b3;
}

.button-login-form-cancel {
  background-color: #ff6347;
  color: white;
}

.button-login-form-cancel:hover {
  background-color: #ff4500;
}
